.custom-form-bg{
    backdrop-filter: blur(50px);
    background-color: rgba(21,101,192,0.1);
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    padding-bottom:1%;

}

.font-form-label{
    font-size: .8rem;
}
.font-form-coordinates{
    font-size: .6rem;
}

main{
    font-family: "Montserrat", sans-serif;
}